.btn {
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.blue {
  background-color: DodgerBlue; /* Blue background */
}

.light-blue {
  background-color: MediumSlateBlue; /* Blue background */
}

.red {
   background-color: Crimson;
}

* {
}

.inline {
  display: inline-block;
}

.column {
  height: 200px;
}

.column1 {
  height: 200px;
  width: 400px;
  float: left;
  overflow: scroll;
}

.column2 {
  width: 70px;
  float: right;
  margin-top: -17px;
  margin-left: 5px;
  overflow: scroll;
  height: 200px;
}

body {
  background-color: #B0C4DE;
  font-size: 16px;
}

#light{
   background-color: #FFFF00;
   margin-bottom: 10px;
   color: black;
}

#resSearch {
  font-size: 20px;
  margin-left:  14px;
}

#search {
  width: 98%;
}

#input-concept {
  padding-left:10px;
  margin-top: 0.4%;
  height:30px;
  border-style:none;
  font-size :15px;
  width: 470px;
}

#current-concept {
  padding-left:10px;
  margin-top: 0.4%;
  height:30px;
  border-radius: 5px 5px 5px 5px;
  background-color:#32CD32;
  border-style:none;
  font-size :15px;
  width: 492px;
  padding-top: 5px;
}

#current-concept:hover,
#cancel-concept:hover,
#cancel-thesis:hover {
   text-decoration: underline;
   cursor: pointer;
}

#select-concepts,
#select-thesis,
#select-other-thesis{
   border-radius: 5px 5px 5px 5px;
   border:solid white 1px;
   /*display:inline-block;*/
   border-style:0.5px;
   position:relative;
   font-size:15px;
   overflow:scroll;
}

#select-other-thesis{
  width: 400px;
}

#select-thesis:hover,
#select-other-thesis:hover{
  cursor: pointer;
}

#select-concepts {
  background-color:#98FB98;
  min-height: 200px;
  margin-bottom: 10px;
}

#inline-buttons {
  margin-bottom: 10px;
}

#select-thesis {
  background-color:#FFFF00;
}

#select-other-thesis {
  background-color:#FFA500;
}

#add-concept,
#add-thesis {
  margin-top: 10px;
  margin-bottom: 10px;
  position:relative;
  width:500px;
  border-style:0.5px;
  border-radius: 5px 5px 5px 5px;
}

#concepts-count,
#thesis-count,
#other-thesis-count {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#edit-concept,
#current-concept,
#edit-thesis,
#add-thesis,
#thesis-count,
#thesis-column,
#other-thesis-count,
#select-other-thesis {
  display: none;
  visibility: hidden;
}

#edit-concept-form {
  border-radius: 0px 0px 5px 5px;
  background-color:#6A5ACD;
  padding:10px;
  width:100px;
  width:483px;
  margin-top: -0.2%;
  height: 180px;
}

#edit-thesis {
  margin-bottom: 10px;
}

#confirm-add-concept,
#delete-concept,
#confirm-add-thesis,
#delete-thesis {
  width:480px;
  margin-top: 0.9%;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

#confirm-add-concept,
#confirm-add-thesis {
  background-color: grey;
}

#delete-concept,
#delete-thesis {
  background-color: #B22222;
}

@font-face {
    font-family: 'Diplomata';
    font-style: normal;
    font-weight: 400;
    src: local('Diplomata'), local('Diplomata-Regular'), url(https://fonts.gstatic.com/s/diplomata/v8/8UgOK_RUxkBbV-q561I6kFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v11/gk5FxslNkTTHtojXrkp-xBEur64QvLD-0IbiAdTUNXE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
p {
  margin: 0 0 10px 0;
}
input {
  font-size: 14px;
}
.narrow-font {
  font-family: 'Open Sans Condensed', sans-serif;
}
.wide-font {
  font-family: 'Diplomata', cursive;
}
.set-width {
  width: 220px;
}
